<!doctype html>
<html lang="en">
  <% content_for :assets do %>
    <%= stylesheet_link_tag 'blog' %>
  <% end %>
  <%= partial 'partials/head' %>
  <body>
    <article class="article">
      <%= partial 'partials/header' %>
      <div class="section">
        <%= yield %>
        <p class="article__byline">Published by <%= current_article.data.author %> on <%= current_article.date.strftime('%A, %B %-e, %Y') %></p>
      </div>
    </article>
  </body>
</html>
