<head>
  <meta charset="utf-8">
  <title><%= current_page.data.title %></title>
  <meta name="description" content="<%= current_page.data.description %>">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <link rel="canonical" href="<%= "#{full_url current_page.url}" %>">
  <% unless config[:typekit_id].nil? %>
    <link rel="stylesheet" href="https://use.typekit.net/<%= config[:typekit_id] %>.css" media="print" onload="this.media='all'">
  <% end %>
  <%= stylesheet_link_tag 'site' %>
  <%= yield_content :assets %>
</head>
