.article {

  .article__byline {
    border-top: 1px solid var(--border-color);
    font-size: 14px;
    font-style: italic;
    line-height: 1.92;
    margin: 1.92rem 0 0;
    text-indent: 0;
  }

  p + p {
    text-indent: 1.5rem;
  }

  p > img {
    display: bloc;
    margin: 1.5rem 0;
  }

  p + p > img {
    margin-left: -1.5rem;
  }
  
  hr {
    border: none;
    border-top: 2px solid var(--border-color);
    margin: 1.5rem 0;
  }
  
  .gist {
    margin: 1.5rem 0;
  }

  ul li {
    list-style-type: circle;
    margin: 0;
  }

  ol li {
    list-style-type: decimal;
    margin: 0;
  }

  ol,
  ul,
  aside {
    margin: 1.5rem 0;
  }

  aside {
    font-style: italic;
  }

  pre {
    background-color: var(--code-color);
    border: 1px solid var(--code-border-color);
    border-radius: 2px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 12px;
    line-height: 1.5;
    margin: 0.75rem 0;
    padding: 0.75rem;

    code {
      background: none;
      border: 0;
      border-radius: 0;
    }
  }
}
