.card {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;

  .card__text {
    margin-left: 1.5rem;
  
    p {
      margin-left: 0;
    }
  }
}

.card__thumbnail {
  border-radius: 100%;
  display: block;
  max-width: initial;
}
