.section {
  a:link,
  a:visited {
    color: var(--link-color);
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: var(--link-color);
    text-decoration: underline;
  }

  code {
    background-color: var(--code-color);
    border: 1px solid var(--code-border-color);
    border-radius: 2px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 12px;
    padding: 0 2px;
  }

  strong {
    font-weight: bold;
  }

  li,
  p {
    font-size: 18px;
    line-height: 1.5;
  }

  li p {
    margin-left: 1.5rem;
  }

  li {
    line-height: 1.5;
    margin: 1.5rem 0;
  }

  em,
  i {
    font-style: italic;
  }

  h1 {
    background-color: var(--background-color);
    font-family: bureau-grot-condensed,sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin: 1rem 0;
  }
  
  h2 {
    border-bottom: 2px solid var(--border-color);
    font-size: 36px;
    font-family: bureau-grot-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.33;
    margin: 1.4rem 0;
  }
  
  h3 {
    font-family: bureau-grot-condensed,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
}

.section__avatar {
  border-radius: 100%;
  display: block;
  margin: 1.5rem 0;
  width: var(--avatar-size);
}

.section__homepage-link {
  display: block;
  width: var(--avatar-size);
}

.section .section__meta {
  font-size: 14px;
  font-style: italic;
  line-height: 2;
}
