---
title: Guillermo Esteves
description: Guillermo Esteves is a full-stack engineer based in Jackson Hole, Wyoming.
---

<section class="section" aria-labelledby="intro">
  <h2 class="sr-only" id="intro">Introduction</h2>
  <%= partial 'partials/intro' %>
</section>

<% if data.contributions.present? && data.contributions.viewer.contributionsCollection.totalPullRequestContributions > 0 %>
  <%= partial 'partials/activity' %>
<% end %>

<% if data.repos.present? %>
  <%= partial 'partials/repos' %>
<% end %>

<% if data.writing.present? %>
  <%= partial 'partials/writing' %>
<% end %>

<% if data.podcasts.present? %>
  <%= partial 'partials/podcasts' %>
<% end %>

<% if data.photographs.present? %>
  <%= partial 'partials/photographs' %>
<% end %>

<% if data.books.present? %>
  <%= partial 'partials/reading' %>
<% end %>

<% if data.albums.present? %>
  <%= partial 'partials/listening' %>
<% end %>

<section class="section" aria-labelledby="elsewhere">
  <h2 id="elsewhere">Elsewhere</h2>
  <%= partial 'partials/elsewhere' %>
</section>
